@charset "UTF-8";

@font-face {
  font-family: "ProximaNova-Bold";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "ProximaNova-Regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "ProximaNova-Regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #fff;
}

body._lock {
  overflow: hidden;
}

* {
  scroll-behavior: smooth;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.head-text {
  opacity: 0.5;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.38px;
  padding: 0 2px;
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.head-text:hover {
  opacity: 1;
}

.head-text::after {
  display: block;
  content: "";
  border-bottom: solid 3px #a9946e;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.head-text:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.header {
  z-index: 10;
  position: absolute;
  margin-top: 30px;
  width: 100%;
}

.header__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content .header-content-block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger-menu {
  margin: 0 0 0 71px;
}

.header__burger-menu nav ul li a {
  line-height: 36px;
  max-width: 150px;
}

.header__burger-menu .icon-menu {
  display: block;
  position: absolute;
  top: 8px;
  left: 27px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.header__burger-menu .icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 0.5px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #a9946e;
  border-radius: 1px;
}

.header__burger-menu .icon-menu span:first-child {
  top: 0px;
}

.header__burger-menu .icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.header__burger-menu .icon-menu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger-menu .icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 0.5px);
}

.header__burger-menu .icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 0.5px);
}

.header__logo {
  margin: 0 28px 0 5px;
}

.header__logo .logo-wrapper {
  display: inline-block;
}

.header__logo .logo-wrapper a {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10.8px;
  overflow: hidden;
  max-width: 12ch;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.header__logo .logo-wrapper a::after {
  display: block;
  position: absolute;
  top: 15px;
  left: 43px;
  width: 63.6px;
  border-radius: 1px;
  height: 4px;
  background-color: #bea67c;
  content: "";
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__logo .logo-wrapper a:hover::after {
  left: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header__nav {
  margin-left: 20px;
}

.header__nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav nav ul li {
  margin: 0 1.5vw;
}

.header__nav nav ul li a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__language .language-info {
  padding: 2px 0 0 0;
  margin: 0 50px 0 0;
  max-height: 24px;
}

.header__language .language-info img {
  opacity: 0.5;
  max-width: 24px;
  min-height: 24px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__language .language-info img:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__language .language-change {
  margin: 0 32px 0 0;
}

.header__language .language-change a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__language .language-change a p {
  margin: 0 5px 0 0;
}

.header__language .language-change a img {
  max-width: 10px;
  max-height: 10px;
}

._no-webp footer{
  background-image: url(../img/backgrounds/footer-bg.png); }

footer {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 5px;
}

footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__content .footer-copyrights {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.38px;
}

footer .footer__content .footer-copyrights a {
  color: #464646;
}

footer .footer__content .footer-designed {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.38px;
}

footer .footer__content .footer-designed a {
  color: #7d7d7d;
}

._no-webp .main-screen{
  background-image: url(../img/backgrounds/bg-main.png); }

.main-screen {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 0 50px 0;
}

.main-screen__content .main-screen-dots-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main-screen__content .main-screen-dots-menu p {
  cursor: default;
  color: #bea67c;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: "ProximaNova-Bold";
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  width: 62px;
  overflow: hidden;
  margin: 0 -15px 0 0;
}

.main-screen__content .main-screen-dots-menu ul {
  position: relative;
}

.main-screen__content .main-screen-dots-menu ul::after {
  content: "";
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  display: block;
  width: 51px;
  height: 4px;
  background-color: #c0af91;
  position: absolute;
  top: -52.9px;
  left: -20px;
}

.main-screen__content .main-screen-dots-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-screen__content .main-screen-dots-menu ul li a {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #303030;
  margin: 20px auto;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main-screen__content .main-screen-dots-menu ul li a:hover {
  opacity: 0.5;
}

.main-screen__content .main-screen-dots-menu ul li a:active {
  background-color: #bea67c;
  -webkit-transition: 20ms;
  -o-transition: 20ms;
  transition: 20ms;
  opacity: 0.6;
}

.main-screen__content .main-screen-dots-menu ul li:first-child {
  margin-top: 85px;
}

.main-screen__content .main-screen-dots-menu ul li .active {
  background-color: #bea67c;
}

.main-screen__content .main-screen-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  margin: 70px auto 0 auto;
}

.main-screen__content .main-screen-main-content h1 {
  color: #bea67c;
  font-size: 80px;
  font-weight: 700;
  font-family: "ProximaNova-Bold";
  letter-spacing: 20.01px;
  max-width: 12ch;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.main-screen__content .main-screen-main-content .main-screen-button {
  margin-top: 40px;
}

.main-screen__content .main-screen-main-content .main-screen-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  max-width: 300px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  border: 2px #fff solid;
  padding: 20px 40px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}

.main-screen__content .main-screen-main-content .main-screen-button a span {
  display: block;
  max-width: 320px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.main-screen__content .main-screen-main-content .main-screen-button a img {
  max-width: 34px;
  margin: 2.5px 0 0 8px;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.main-screen__content .main-screen-main-content .main-screen-button a:hover img {
  -webkit-transform: translateX(32px);
      -ms-transform: translateX(32px);
          transform: translateX(32px);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main-screen__content .main-screen-main-content .main-screen-button a:active img {
  -webkit-transform: translateX(550px);
      -ms-transform: translateX(550px);
          transform: translateX(550px);
  -webkit-transition: 100ms ease-in;
  -o-transition: 100ms ease-in;
  transition: 100ms ease-in;
  opacity: 0;
}

.main-screen__content .main-screen-main-content .main-screen-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30px;
  margin-top: 55px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-screen__content .main-screen-main-content .main-screen-scroll .svg-mouse,
.main-screen__content .main-screen-main-content .main-screen-scroll .svg-arrow {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-screen__content .main-screen-main-content .main-screen-scroll .scroll-mouse .svg-mouse {
  max-height: 30px;
  max-width: 30px;
}

.main-screen__content .main-screen-main-content .main-screen-scroll .scroll-arrow .svg-arrow {
  max-height: 70px;
  max-width: 30px;
  margin: 25px 0;
}

.main-screen__content .main-screen-main-content .main-screen-scroll .scroll-text {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0.1;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 2.8px;
  margin-top: 40px;
}

.main-screen__content .main-screen-main-content .main-screen-scroll .scroll-text p {
  max-width: 100px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.main-screen__content .main-screen-main-content .scroll-animation {
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.main-screen__content .main-screen-main-content .scroll-animation .svg-mouse {
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
}

.main-screen__content .main-screen-main-content .scroll-animation .svg-arrow {
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-transition: 30ms;
  -o-transition: 30ms;
  transition: 30ms;
}

.main-screen__content .main-screen-text-left {
  max-height: 30px;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.main-screen__content .main-screen-text-left p {
  opacity: 0.2;
  color: #bea67c;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4.81px;
  white-space: nowrap;
  display: block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 300px;
  text-align: center;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-right: -290px;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: default;
}

.main-screen__content .main-screen-text-left p:hover {
  opacity: 0.8;
}

.main-screen__content .main-screen-share {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.main-screen__content .main-screen-share a img {
  opacity: 0.5;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  max-width: 25px;
  max-height: 25px;
}

.main-screen__content .main-screen-share a img:hover {
  opacity: 1;
}

.furniture {
  overflow: hidden;
}

.furniture__content {
  padding-top: 60px;
}

.furniture__content .furniture-items .furniture-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin: 280px 0 0 0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.furniture__content .furniture-items .furniture-item:nth-child(odd) {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.furniture__content .furniture-items .furniture-item:nth-child(odd)._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.furniture__content .furniture-items .furniture-item:nth-child(even)._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.furniture__content .furniture-items .furniture-item:first-child {
  margin-top: 30px;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  position: relative;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-transparent .transparent-letter {
  right: -40px;
  left: auto;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-transparent .transparent-text {
  top: 44%;
  right: 75%;
  left: auto;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-body {
  padding: 0 183px 0 0;
  margin: 0 0 0 25px;
  position: relative;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-body .item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-body .item-title::before {
  display: none;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-body .item-title::after {
  content: "";
  display: block;
  margin-right: 30px;
  width: 150px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  right: -30px;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-body .item-text::before {
  display: none;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-body .item-text::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  position: absolute;
  right: 105px;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-image {
  margin: 30px 25px 0 0;
}

.furniture__content .furniture-items .furniture-item:nth-child(even) .item-number {
  right: 0;
  left: auto;
}

.furniture__content .furniture-items .furniture-item .item-transparent {
  pointer-events: none;
  white-space: nowrap;
}

.furniture__content .furniture-items .furniture-item .item-transparent .transparent-letter {
  position: absolute;
  opacity: 0.07;
  color: #bea67c;
  font-size: 396px;
  font-weight: 700;
  letter-spacing: 18px;
  top: -250px;
  left: -30px;
  right: auto;
}

.furniture__content .furniture-items .furniture-item .item-transparent .transparent-text {
  position: absolute;
  opacity: 0.2;
  color: #d0d0d0;
  font-size: 169px;
  font-weight: 700;
  letter-spacing: 3.36px;
  top: 34%;
  left: 75%;
}

.furniture__content .furniture-items .furniture-item .item-body {
  margin-right: 25px;
  word-break: break-all;
  padding-left: 183px;
  position: relative;
}

.furniture__content .furniture-items .furniture-item .item-body .item-title {
  color: #010101;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3.36px;
  font-family: "ProximaNova-Bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.furniture__content .furniture-items .furniture-item .item-body .item-title::before {
  content: "";
  display: block;
  margin-right: 30px;
  width: 150px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  left: 0;
}

.furniture__content .furniture-items .furniture-item .item-body .item-text {
  margin-top: 32px;
  color: #464646;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.furniture__content .furniture-items .furniture-item .item-body .item-text::before {
  content: "";
  display: block;
  margin-top: 10px;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  position: absolute;
  left: 105px;
}

.furniture__content .furniture-items .furniture-item .item-body .item-button {
  margin-top: 32px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.furniture__content .furniture-items .furniture-item .item-body .item-button a {
  color: #000000;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  font-family: "ProximaNova-Bold";
  display: block;
}

.furniture__content .furniture-items .furniture-item .item-body .item-button a span {
  display: inline-block;
  max-width: 290px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.furniture__content .furniture-items .furniture-item .item-body .item-button a img {
  margin: 2.5px 0 0 9px;
  max-width: 40px;
  max-height: 7px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.furniture__content .furniture-items .furniture-item .item-body .item-button a:hover img {
  -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
          transform: translateX(15px);
}

.furniture__content .furniture-items .furniture-item .item-body .item-button a::after {
  margin-top: 6px;
  content: "";
  display: block;
  width: 44px;
  height: 2px;
  background-color: #a9946e;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.furniture__content .furniture-items .furniture-item .item-body .item-button a:active::after {
  -webkit-transform: translateX(500px);
      -ms-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.furniture__content .furniture-items .furniture-item .item-number {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #000000;
  font-family: "ProximaNova-Bold";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2.7px;
}

.furniture__content .furniture-items .furniture-item .item-number::after {
  content: "";
  display: block;
  width: 4px;
  height: 51px;
  background-color: #a9946e;
  position: absolute;
  top: 140px;
  left: 45%;
}

.furniture__content .furniture-items .furniture-item .item-number p {
  max-width: 5ch;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.furniture__content .furniture-items .furniture-item .item-number span {
  color: #bea67c;
}

.furniture__content .furniture-items .furniture-item .item-image {
  margin-left: 25px;
}

.furniture__content .furniture-items .furniture-item .item-image img {
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
  max-width: 620px;
  max-height: 400px;
  margin-top: 30px;
}

.quality {
  margin-top: 149px;
}

.quality__content {
  padding: 100px 0 0 0;
  text-align: center;
  position: relative;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}

.quality__content._active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.quality__content .quality-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-wrap: break-word;
}

.quality__content .quality-text .quality-title {
  max-width: 700px;
}

.quality__content .quality-text .quality-title::after {
  content: "";
  display: block;
  margin: 30px auto 0 auto;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
}

.quality__content .quality-text .quality-subtitle {
  max-width: 550px;
  margin-top: 25px;
}

.quality__content .quality-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.quality__content .quality-items .quality-item {
  max-width: 272px;
  margin: 40px;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality__content .quality-items .quality-item .item-video {
  position: relative;
  display: inline-block;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.quality__content .quality-items .quality-item .item-video:hover {
  opacity: 0.9;
}

.quality__content .quality-items .quality-item .item-video:active .item-play-btn {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0.5;
}

.quality__content .quality-items .quality-item .item-video .item-img {
  display: block;
  overflow: hidden;
  width: 262px;
  height: 262px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.quality__content .quality-items .quality-item .item-video .item-img:hover {
  padding: 0;
}

.quality__content .quality-items .quality-item .item-video .item-img img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.quality__content .quality-items .quality-item .item-video .item-play-btn {
  position: absolute;
  top: 97px;
  left: 97px;
  width: 68px;
  height: 68px;
  display: block;
  background-color: #bea67c;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.quality__content .quality-items .quality-item .item-video .item-play-btn img {
  max-width: 22px;
  max-height: 25px;
}

.quality__content .quality-items .quality-item .item-text {
  color: #000000;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
}

.quality__content .quality-items .quality-item .item-text::before {
  content: "";
  display: block;
  width: 25px;
  height: 1px;
  background-color: #bea67c;
  margin: 24px auto 18px auto;
}

._no-webp .design{
  background-image: url(../img/backgrounds/video-bg.png); }

.design {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 25px 50px 25px;
  margin: 85px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design__content {
  border: 1px white solid;
  padding: 180px 5px;
  max-width: 1560px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.design__content .design-body {
  word-wrap: break-word;
  position: relative;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 243px;
}

.design__content .design-body .design-title {
  color: #bea67c;
  position: relative;
}

.design__content .design-body .design-title::before {
  content: "";
  display: block;
  margin-right: 30px;
  width: 150px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: -189px;
  top: 23px;
}

.design__content .design-body .design-text {
  margin-top: 50px;
  position: relative;
  padding: 0;
  color: #ffffff;
}

.design__content .design-body .design-text::before {
  content: "";
  display: block;
  margin-top: 10px;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  position: absolute;
  left: -83px;
  top: 0;
}

.design__content .design-button-block {
  position: absolute;
  right: -30px;
}

.design__content .design-button-block a {
  position: relative;
}

.design__content .design-button-block a img {
  opacity: 0.1;
  width: 768px;
  height: 768px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.design__content .design-button-block a img:hover {
  opacity: 0.09;
}

.design__content .design-button-block a::after {
  content: "";
  display: block;
  width: 1px;
  height: 151px;
  background-color: #ffffff;
  position: absolute;
  top: 308.5px;
  right: 179px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.design__content .design-button-block a:hover::after {
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
}

.about {
  padding: 70px 0;
  overflow: hidden;
}

.about__content {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}

.about__content._active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.about__content .about-img img {
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
}

.about__content .about-text {
  position: relative;
  margin-left: 95px;
}

.item-transparent .transparent-letter {
  position: absolute;
  right: 0;
  top: -70%;
}

.item-transparent .transparent-text {
  position: absolute;
  left: -40%;
  top: 30%;
}

.item-title {
  color: #010101;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3.36px;
  font-family: "ProximaNova-Bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-title::before {
  content: "";
  display: block;
  margin-right: 30px;
  width: 150px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  left: -177px;
}

.item-text {
  margin-top: 32px;
  color: #464646;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-text::before {
  content: "";
  display: block;
  margin-top: 10px;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  position: absolute;
  left: -71px;
}

.item-button {
  margin-top: 32px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.item-button a {
  color: #000000;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  font-family: "ProximaNova-Bold";
  display: block;
}

.item-button a span {
  display: inline-block;
  max-width: 290px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.item-button a img {
  margin: 2.5px 0 0 9px;
  max-width: 40px;
  max-height: 7px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.item-button a:hover img {
  -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
          transform: translateX(15px);
}

.item-button a::after {
  margin-top: 6px;
  content: "";
  display: block;
  width: 44px;
  height: 2px;
  background-color: #a9946e;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.item-button a:active::after {
  -webkit-transform: translateX(500px);
      -ms-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main-logo {
  display: inline-block;
}

.main-logo a {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10.8px;
  overflow: hidden;
  max-width: 12ch;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.main-logo a::after {
  display: block;
  position: absolute;
  top: 15px;
  left: 43px;
  width: 63.6px;
  border-radius: 1px;
  height: 4px;
  background-color: #bea67c;
  content: "";
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-logo a:hover::after {
  left: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.section-title {
  color: #010101;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3.36px;
  font-family: "ProximaNova-Bold";
}

.section-subtitle {
  color: #464646;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.38px;
}

.square-btn {
  margin-top: 40px;
}

.square-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  max-width: 300px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  border: 2px #fff solid;
  padding: 20px 40px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}

.square-btn a span {
  display: block;
  max-width: 320px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.square-btn a img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 15px;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.square-btn a:hover img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.item-transparent {
  pointer-events: none;
  white-space: nowrap;
}

.item-transparent .transparent-letter {
  opacity: 0.07;
  color: #bea67c;
  font-size: 396px;
  font-weight: 700;
  letter-spacing: 18px;
}

.item-transparent .transparent-text {
  opacity: 0.2;
  color: #d0d0d0;
  font-size: 169px;
  font-weight: 700;
  letter-spacing: 3.36px;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1212px) {
  ._container {
    max-width: 970px;
  }

  .furniture__content .furniture-items .furniture-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .furniture__content .furniture-items .furniture-item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .furniture__content .furniture-items .furniture-item:nth-child(even) .item-transparent .transparent-text {
    top: 58%;
  }

  .furniture__content .furniture-items .furniture-item .item-transparent .transparent-letter {
    left: 0;
  }

  .furniture__content .furniture-items .furniture-item .item-transparent .transparent-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 55%;
  }

  .furniture__content .furniture-items .furniture-item .item-body {
    max-width: 600px;
  }

  .design__content .design-button-block {
    pointer-events: none;
  }

  .item-transparent .transparent-letter {
    right: 0;
  }
}

@media (max-width: 992px) {
  ._no-webp .main-screen{
    background-image: url(../img/backgrounds/bg-left.png); }

  .design__content .design-button-block {
    display: none;
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }

  .item-title {
    margin-top: 30px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 892px) {
  .header__logo {
    margin: 0 0 0 30px;
  }

  .header__nav {
    display: none;
  }

  .header .header-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }

  .header .header-left {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 779px) {
  .about__content {
    padding: 0 10px;
  }

  .about__content .about-img {
    max-width: 97.5%;
  }

  .about__content .about-img img {
    max-width: 100%;
  }

  .about__content .about-text {
    margin: 0;
  }

  .item-title::before {
    display: none;
  }

  .item-text::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .furniture__content .furniture-items .furniture-item:nth-child(even) .item-image {
    margin: 0;
  }

  .furniture__content .furniture-items .furniture-item .item-image {
    margin: 0;
  }

  .furniture__content .furniture-items .furniture-item .item-image img {
    max-width: 500px;
    max-height: 340px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }
}

@media (max-width: 764px) {
  footer .footer__content .footer-designed {
    display: none;
  }

  .design__content .design-body {
    padding: 0 5px;
  }

  .design__content .design-body .design-title::before {
    display: none;
  }

  .design__content .design-body .design-text::before {
    display: none;
  }
}

@media (max-width: 700px) {
  .header__language .language-info img {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 669px) {
  .furniture__content .furniture-items .furniture-item {
    margin: 140px 0 0 0;
  }

  .furniture__content .furniture-items .furniture-item:nth-child(even) .item-body {
    margin: 0;
    padding: 0;
    max-width: 500px;
  }

  .furniture__content .furniture-items .furniture-item:nth-child(even) .item-body .item-title::after {
    display: none;
  }

  .furniture__content .furniture-items .furniture-item:nth-child(even) .item-body .item-text::after {
    display: none;
  }

  .furniture__content .furniture-items .furniture-item .item-body {
    margin: 0;
    padding-left: 0;
    max-width: 500px;
  }

  .furniture__content .furniture-items .furniture-item .item-body .item-title::before {
    display: none;
  }

  .furniture__content .furniture-items .furniture-item .item-body .item-text::before {
    display: none;
  }

  .furniture__content .furniture-items .furniture-item .item-image img {
    max-width: 400px;
    max-height: 260px;
  }
}

@media (max-width: 600px) {
  .header__language .language-info {
    margin: 0;
  }

  .main-screen__content .main-screen-main-content {
    padding: 0 5px;
    margin: 0 auto;
  }

  .main-screen__content .main-screen-main-content h1 {
    font-size: 13vw;
  }
}

@media (max-width: 560px) {
  .main-screen__content {
    padding: 0 5px;
  }

  .main-screen__content .main-screen-dots-menu {
    display: none;
  }

  .main-screen__content .main-screen-main-content .main-screen-scroll {
    display: none;
  }

  .main-screen__content .main-screen-text-left {
    display: none;
  }
}

@media (max-width: 520px) {
  .furniture__content .furniture-items .furniture-item:nth-child(even) .item-body {
    padding: 0 10px;
  }

  .furniture__content .furniture-items .furniture-item .item-body {
    padding: 0 10px;
  }

  .furniture__content .furniture-items .furniture-item .item-number {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__burger-menu nav {
    display: none;
  }

  .header .header-right {
    display: none;
  }

  .header .header-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .design {
    padding: 5px;
  }

  .design__content .design-body .design-title {
    font-size: 13vw;
  }
}

@media (max-width: 420px) {
  .furniture__content .furniture-items .furniture-item {
    margin: 70px 0 0 0;
  }

  .furniture__content .furniture-items .furniture-item .item-image img {
    max-width: 320px;
    max-height: 210px;
  }
}

@media (max-width: 360px) {
  footer .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  footer .footer__content .footer-copyrights {
    display: none;
  }
}

._webp footer{ background-image: url(../img/backgrounds/footer-bg.webp); }

._webp .main-screen{ background-image: url(../img/backgrounds/bg-main.webp); }

._webp .design{ background-image: url(../img/backgrounds/video-bg.webp); }

@media (max-width: 992px){

  ._webp .main-screen{ background-image: url(../img/backgrounds/bg-left.webp); }
}